html,
body,
.body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-size: 20px;
  background: #f3f3f3;
  border-bottom: 1px solid black;
}

.main_container {
  display: flex;
  padding: 15px;
  align-items: center;
  background: whitesmoke;
  flex-direction: column;
}

.coin_container {
  display: flex;
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background: #433e5d;
  /* background: #3c4844; */
}

.coin {
  display: flex;
  justify-content: center;
  width: 70px;
  height: 70px;
  border: 1px solid black;
  border-radius: 6px;
  margin: 2px;
}

.player_row {
  display: flex;
}

.cell_row {
  display: flex;
}

.cell_column {
  display: flex;
  flex-direction: column;
}

.cell_column_container {
  display: flex;
}

.board_middle_row {
  display: flex;
  width: 630px;
  justify-content: space-between;
}

.cell {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  border: 1px solid #433e5d;
}

.red {
  background: rgb(231, 96, 96);
}

.green {
  background: rgb(112, 236, 112);
}

.yellow {
  background: rgb(230, 230, 91);
}

.blue {
  background: rgb(84, 84, 235);
}

.dark_red {
  background: red;
}

.dark_green {
  background: green;
}

.dark_yellow {
  background: yellow;
}

.dark_blue {
  background: blue;
}

.dice {
  width: 35px;
  height: 35px;
  margin: -18px;
  align-self: center;
  border: 1px solid black;
  border-radius: 2px;
  background: #ceffa2;
}

.coin_symbol {
  height: 50%;
  width: 50%;
  align-self: center;
  border: 1px solid #f1b091eb;
  border-radius: 50%;
}

.clear_coins_container {
  width: 0px;
  height: 0px;
  border-top: 63px solid rgb(84, 84, 235);
  border-bottom: 63px solid rgb(112, 236, 112);
  border-left: 63px solid rgb(231, 96, 96);
  border-right: 63px solid rgb(230, 230, 91);
}

.container-border{
  display: flex;
  padding: 15px;
  background: white;
}